<%- include ./partials/header %>

	<form action="/users/login" method="POST">
		<div>Username :</div>
		<div><input type="text" name="username" size="30"></div><br>
		<div>Password :</div>
		<div><input type="password" name="password" size="30"></div><br>
		<div><button type="submit">Login</button> &nbsp <a href="/users/signup">Signup</a></div>
	</form>

<%- include ./partials/footer %>
