<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/tags.css' />
    <title></title>
  </head>
  <body>
    <div class="title">Please choose a category</div>
    <form action="#" method="post">
      <select class="" name="">
        <%for (let i = 0; i<tags.length; i++){%>
          <option value="<%=tags[i].name%>"><%=tags[i].name%></option>
          <%}%>
      </select><br>
      <button type="submit">submit</button>
    </form>
    <form class="" action="/users/logout/<%=username%>">
      <button type="submit">logout</button>
    </form>
  </body>
</html>