body {
  padding: 50px;
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(http://az616578.vo.msecnd.net/files/2016/07/23/6360489455192162291563850737_Trump.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  background-attachment: fixed;
}
.title {
  font: 64px "Lucida Grande";
  color: White;
  text-align: center;
  background: black;
  opacity: 0.8
}
